// Reusable classes
.selected {
  border: solid lightcoral 5px;
}

.divider{
  // border-bottom: 3px solid #D3D3D3;
}


body{
  background-color: #2D2D2D;
  font-family: 'Roboto', sans-serif;
}
.container{
  background-color: #FFFFFF;
  width: 50%;
  height: 100vh;
  margin: auto;

  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-auto-flow: column;
  // grid-template-columns: 1fr;
  // grid-template-rows: 15vh 35vh 50vh;
  
  // Shadow
  -webkit-box-shadow: 0px 2px 27px -4px #000000; 
  box-shadow: 0px 2px 27px -4px #000000;
  border-radius:25px;

  // Border
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  h1{
    color: #3F5471;
    text-align:  center;
  }
}

.user-section{
  flex-grow: 0.4;
  width: 100%;
  // background-color: coral;
  padding-top: 20px;
  
  display: flex;
  flex-wrap: wrap;
  // flex-shrink: 0;
  flex-flow: row wrap;
  justify-content: space-evenly;
  .user {
    background-color: #FFFFFF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
    //Shadow:  
    -webkit-box-shadow: 0px 2px 27px -4px #000000; 
    box-shadow: 0px 2px 17px -4px #000000; 
  }

  // user photos
  .user:nth-child(2){
    background: url(/img/batel-studio-ttSRjiYG_WM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
  }

  .user:nth-child(3){
    background: url(/img/juno-jo-nwdPxI1h4NQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
  }

  .user:nth-child(4){
    background: url(/img/petr-sevcovic-HzDF-rxlSeM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
  }

  // Order section

}

#add-user{

  width: 100px;
  height: 100px;
  border-radius: 50%;

  //Shadow:  
  -webkit-box-shadow: 0px 2px 27px -4px #000000; 
  box-shadow: 0px 2px 17px -4px #000000;
  display: flex;
  justify-content: center;
  

  i{
    color: #CFD8EC;
    align-self: center;
    font-size: 40px;
  }
}

// Order section
#order-section{
  h1{
    color: #8BABE9;
  }
  // user balance
  .users-balance{ 
    display: flex;
    justify-content: center;
    align-items: center;

    // background-color: hotpink;
   
  }
  .user-in-order {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #FFFFFF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    //Shadow:  
    -webkit-box-shadow: 0px 2px 27px -4px #000000; 
    box-shadow: 0px 2px 17px -4px #000000; 
    
  }
  .userName {
    color: crimson;
    margin: 0px 5px 0px 5px;
    font-size: 30px;
    font-weight: bold;
  }
  .user-in-order{
    background: url(/img/batel-studio-ttSRjiYG_WM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
  }

  label{
    margin: 0px 20px 0 10px;
  }

  input{
    border: none;
    background-color: coral;
  }
  input[type=number]{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    outline: none;
  
    
  }
  input[type=number]:focus{
    outline: none;
    border: none;
    border-bottom: 3px solid red;
    background-color: lightblue;
  }
}

 